.header-middle {
    margin: 15px 0 5px 0;
}
.header-middle img {
    max-width: 35%;
}
.support-client {
    margin-bottom: 0;

}
.single-product-banner {

    text-align: center;
}
.single-product-banner img {
    width: auto;
    height: 270px;
}
ul.page-menu > li + li::before {
    color: rgb(204, 204, 204);
    content: "/";
    padding: 0px 5px;
}
.banner {
    padding: 15px 40px 20px 10px;
}
.nivo-controlNav {
    display: none;
}
input.wpcf7-form-control.wpcf7-submit.btn.btn-primary {
    width: 100%;
}