
body {
font: 12px Verdana,Serif,Arial;
line-height: 18px;
color: #383838;
}

h1{
font-family: Georgia, serif;
font-style:italic;
font-size: 12px;
}
img{
	border: 0;
}
table, table td { 
	padding:0;
	border-collapse:collapse;
}
#wrapper{
	width:920px;
	margin:0 auto;
	
}

#header {

}
.sing{
	width: 20%;
}
a.admin_sing {
    line-height: 3;
    border: 1px solid;
    padding: 14px;
    margin: 70px;
    background: #229ac8;
    color: #fff;
    size: 29px;
    /* width: 178%; */
}
#header .logo{
float:left;
width:400px;
height:70px;
}
.logoimg {
    /* border: 0; */
    width: 35%;
}

#header .menu{
clear:both;
float:right;
width:100%;

height:30px;

}
#header .smalcart{
	float:right;	
	height:55px;
	padding: 10px;
	padding-left: 15px;
	margin: 10px;
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	background: #E6DEEA;	
}



#content {	
	padding-left: 10px;
	width:73%;
	float:left;
	min-height: 440px;

}
#sidebar{
	width:25%;
	float:left;
	min-height: 440px;
	padding-top: 10px;
}

#header .menu li{
	float:left;
	margin-right: 40px;
	margin-top: -10px;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}

.category-heading{
	background: #26acce none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase;
}

#footer{
	clear: both;
	float:left;
	height:60px;
	width:100%;
	text-align:right;

}
.contact-message legend {
    font-weight: bold;
    text-transform: uppercase;
}

legend {
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 7px 0;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    color: #555;
    display: block;
    font-size: 12px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
textarea.form-control {
    height: auto;
}

input[type="submit"] {
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    transition: all 0.3s ease 0s;
    margin: 23px 0;
    line-height: 3;
    float: right;
}
.contact-message {
    margin: 22px 0px;
}
.product {
    float: left;
    border: 1px solid gray;
    /* border-radius: 10px; */
    -moz-border-radius: 10px;
    /* -webkit-border-radius: 10px; */
    text-align: center;
    /* padding: 10px; */
    width: 16%;
    height: 289px; 
    /* margin: 10px; */
    /* float: left; */
    margin: 0 21px 2.992em 0;
    padding: 10px 16px 11px 12px;
    /* position: relative; */
    margin-left: 0;
}
.card_product{
	float:left;
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	background:#e5e5e5;
	text-align:center;
	padding: 10px;
	margin: 10px;
}
.card_product .product_image {
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	background:#fff;	
	margin: 10px;
	padding: 10px;
}
.card_product .product_desc{
	float:left;
	font-style: italic;
	text-align:left;
	padding: 10px;

}
.card_product .product_buy a{
float:right;
padding: 5px;
font-size: 12pt;
margin: 10px;
}
.card_product .price{
clear:both;
float:left;
color:green;
padding: 5px;
font-size: 12pt;
font-weight: 600;
margin: 10px;
}
.product_buy {
margin-top: 5px;
}
.product_image img{
	width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}
.product_buy a{
	margin-top: 0;
    background: #26acce none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 5px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    text-align: center;
}

.product_buy a:hover{
		color:white;
}


.product h2{
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: green;
	margin: 0px;
}

.table_cart {
	width:100%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: #383838;
	margin: 0px;
	border: #808080 solid 1px;
}
.btn_cart {
	margin-top: 0;
    background: #26acce none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 5px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    text-align: center;
}
.table_cart th{
	font-family: Georgia, serif;
	font-style:italic;
	font-size: 11px;
	color: black;
	margin: 0px;	
}

.table_cart td{
	text-align: center;
	padding: 5px 0px;
}

.table_order_form  td{
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: #383838;
	padding: 3px 5px;
	border: #808080 solid 1px;
}

.pagination{
clear:both;
float:left;
}
.pagination a{
padding:0px 5px 0px 5px;
margin-right:5px;
border: #808080 solid 1px;
background: white;
text-decoration:none;
}
.pagination a:hover{
background: gray;
}

.pagination .activ {

background: gray;
}

.sidebarmenu ul{
	border-color: #eee;
    border-style: solid;
    border-width: 0 1px 1px;
    list-style: outside none none;
    padding: 0;

}
  
.sidebarmenu ul li{
position: relative;

}
.sidebarmenu ul li a{
	line-height: 19px;
    padding: 5px 15px;
	color: #6d6d6d;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

.sidebarmenu ul li a:visited{
color: #38385E;  /*цвет шрифта после наведения курсора*/
}
.sidebarmenu ul li a:hover{
color: white; 
background-color: #551A8B; /*цвет фона после наведения курсора*/
}
/*Стили для подменю */
.sidebarmenu ul li ul{
position: absolute;
width: 170px; /*ширина подменю */
top: 0;
visibility: hidden;
}
.sidebarmenu a.subfolderstyle{
background:url('/images/right_vertic.gif') no-repeat 97% 50%;/*изображение(стрелочка вправо)*/
}
/* Holly Hack for IE \\*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */